.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 37.8rem;
  max-width: 48.6rem;
  max-height: 0;
  padding: 3rem 2.4rem;

  visibility: hidden;

  &.visible {
    min-height: 18rem;
    visibility: visible;
  }
}

.btns {
  display: flex;
  gap: 2.4rem;
  justify-content: flex-end;
}
